
/client_mesh/PrecompiledWeb
/client_mesh/client_mesh/Bin
/client_mesh/client_mesh/obj
/MyLiveMesh/upload_files
/MyLiveMesh/bin
/MyLiveMesh/obj
/client_mesh/client_meshSite/Bin
/client_mesh/client_meshSite/ClientBin